<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Price Calculator</title>
</head>
<body>
<form action="#" th:action="@{/}" th:object="${productItem}" method="post">
    <label>Product : </label>
    <select name="id" id="id" th:field="*{productId}">
        <option th:each="product : ${productList}" th:value="${product.id}" th:text="${product.name}"></option>
    </select>

    <br/><br/>

    <label>Items : </label>
    <input th:field="*{items}" required/>

    <br/>

    <p><input type="submit" value="Go"/></p>

    <hr>

    <p>Final Price : <span th:if="${finalPrice != null}" th:text="${finalPrice}">Final price :</span>

    <hr>

    <table>
        <tr>
            <th>Units</th>
            <th>Price</th>
        </tr>
        <tr th:each="price : ${priceList}">
            <td th:text="${price.key}"></td>
            <td align="right" th:text="${#numbers.formatDecimal(price.value, 0, 'COMMA', 2, 'POINT')}"></td>
        </tr>
    </table>
</form>

</body>
</html>